
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @idea.industry %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @idea.tags %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-primary btn-lg"  %>
<%= link_to 'Back', ideas_path, class: "btn btn-primary btn-lg"  %>
