<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="idea_form">
        <%= render 'shared/idea_form' %>
      </section>
    </aside>
  </div>
<% else %>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.ideas.any? %>
      <h3>Ideas (<%= @user.ideas.count %>)</h3>
      <ol class="ideas">
        <%= render @ideas %>
      </ol>
      <%= will_paginate @ideas %>
    <% end %>
  </div>
</div>

<% end %>