<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Ideas</h1>
    <p>Here is the place where your start up ideas can get started. If you want to share your ideas please sign up.</p>
    <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% if @ideas.nil? %>
    <h1> Be the first one to add a new idea </h1>
    <% if !user_signed_in? %>
      <p>Sign up to check idea.</p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <% else %>
      <%= link_to 'New Idea', new_idea_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  <% else %>
    <% @ideas.each do |idea| %>
      <div class="col-md-6">
        <div class="thumbnail">
          <div class="row">
            <div class="col-6 col-md-6">
              <h1><%= idea.title %></h1>
            </div>
            <div class="col-6 col-md-6">
              <h3><%= idea.category %></h3>
            </div> 
          </div>
          <p><%= idea.description %></p>
          <% if !user_signed_in? %>
            <p>Sign up to check idea.</p>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
          <% else %>
            <%= link_to 'Check Idea', idea, class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>