<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @idea.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @idea.description %></td>
              </tr>
              <tr>
                <td><strong>Industry:</strong></td>
                <td><%= @idea.category %></td>
              </tr>
              <tr>
                <td><strong>Tags:</strong></td>
                <td><%= @idea.tags %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-primary btn-lg" %> |
<%= link_to 'Back', ideas_path, class: "btn btn-primary btn-lg" %>